{% extends 'home/base.html' %}
{% load static %}

{% block content %}

      
    

<!-- ======= Breadcrumbs ======= -->
    <!-- <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/themes/trial/#devices">Thiết bị</a></li>
          <li>Inner Page</li>
        </ol>
        <h2>Inner Page</h2>

      </div>
    </section> --><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <div class="card">
          <div class="card-header">
           <strong>RMA No#: {{ pending }} - {{ pending.rma_id.repair_status}}</strong>
          </div>
          <div class="card-body">
            <h3 class="card-title">{{ pending.rma_id.customer.web_name }}</h3>
            <p class="card-text">
              
              <br>
              <center>
                
                <h6>ExFM: {{ pending.rma_id.repair_status}} {{ pending.rma_id.e_score}}</h6>
                <h6>Pending: {{ pending.p_status}} {{ pending.p_score}}</h6>
                {% if pending.p_score > pending.rma_id.e_score %}
                
                {%if pending.p_score == 0 %}
                <img src = "/static/fujifilm/icon/1_nhan_hang.svg" alt="My Happy SVG"/>
                {% endif %}

                {%if pending.p_score == 1 %}
                <img src = "/static/fujifilm/icon/2_dang_kiem_tra.svg" alt="My Happy SVG"/>
                {% endif %}

                {%if pending.p_score == 2 %}
                <img src = "/static/fujifilm/icon/3_bao_gia.svg" alt="My Happy SVG"/>
                {% endif %}
                {%if pending.p_score == 2.5 %}
                <img src = "/static/fujifilm/icon/3_cho_duyet_BH.svg" alt="My Happy SVG"/>
                {% endif %}
                {%if pending.p_score == 2.8 %}
                <img src = "/static/fujifilm/icon/4_XN_linh_kien.svg" alt="My Happy SVG"/>
                {% endif %}
                {%if pending.p_score == 4 %}
                <img src = "/static/fujifilm/icon/5_XN_cho_sua.svg" alt="My Happy SVG"/>
                {% endif %}
                {%if pending.p_score == 5 %}
                <img src = "/static/fujifilm/icon/5_XN_dang_sua.svg" alt="My Happy SVG"/>
                {% endif %}

                {%if pending.p_score == 7 %}
                <img src = "/static/fujifilm/icon/6_XN_shipping.svg" alt="My Happy SVG"/>
                {% endif %}
                
                {%if pending.p_score == 10 %}
                <img src = "/static/fujifilm/icon/3_cho_xac_nhan.svg" alt="My Happy SVG"/>
                {% endif %}

                
                
                {% else %}
                
                {%if pending.rma_id.e_score == 0 %} <!-- Create -->
                <img src = "/static/fujifilm/icon/1_nhan_hang.svg" alt="My Happy SVG"/>
                {% endif %}

                {%if pending.rma_id.e_score == 1 %}   <!-- Receive -->
                <img src = "/static/fujifilm/icon/2_dang_kiem_tra.svg" alt="My Happy SVG"/>
                {% endif %}

                {%if pending.rma_id.e_score == 2 %} <!-- Inspection -->
                <img src = "/static/fujifilm/icon/3_bao_gia.svg" alt="My Happy SVG"/>
                {% endif %}
                {%if pending.rma_id.e_score == 3 %} <!-- Part Selection -->
                <img src = "/static/fujifilm/icon/4_XN_linh_kien.svg" alt="My Happy SVG"/>
                {% endif %}
                {%if pending.rma_id.e_score == 4 %} <!-- Authorized -->
                <img src = "/static/fujifilm/icon/5_XN_dang_sua.svg" alt="My Happy SVG"/>
                {% endif %}
                {%if pending.rma_id.e_score == 6 %} <!-- Repair -->
                <img src = "/static/fujifilm/icon/5_XN_dang_sua.svg" alt="My Happy SVG"/>
                {% endif %}
                {%if pending.rma_id.e_score == 7 %} <!-- QC -->
                <img src = "/static/fujifilm/icon/6_XN_shipping.svg" alt="My Happy SVG"/>
                {% endif %}

                {%if pending.rma_id.e_score == 8 %} <!-- Shipped -->
                <img src = "/static/fujifilm/icon/7_XN_completed.svg" alt="My Happy SVG"/>
                {% endif %}
                

                {%if pending.rma_id.e_score == 9 %} <!-- Completed -->
                <img src = "/static/fujifilm/icon/5_XN_cho_sua.svg" alt="My Happy SVG"/>
                {% endif %}

                
                {% endif %}
                

              </center>

              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" style="width: 30%;">Thông tin thiết bị</th>
                    <th scope="col" ></th>
                    
                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Vị trí hiện tại:</td>
                    {% if pending.rma_id.location == 'Hanoi'%}
                    <td>Trung tâm sửa chữa Hà Nội</td>
                    {% else %}
                      <td>Trung tâm sửa chữa TP.HCM</td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>Model:</td>
                    <td>{{pending.rma_id.model_d }}</td>
                  </tr>
                  <tr>
                    <td>Số máy:</td>
                    <td>{{pending.rma_id.sn }}</td>
                  </tr>
                  <tr>
                    <td>Ngày lắp đặt:</td>
                    <td>{{pending.rma_id.install_date|date:'d/m/Y' }}</td>
                  </tr>
                  <tr>
                    <td>Tình trạng thiết bị:</td>
                    <td>Hư hỏng {{pending.rma_id.repair_size }}</td>
                  </tr>
                  <tr>
                    <td>Bộ phận liên quan:</td>
                    <td>{{pending.rma_id.issue_part }}
                      {{ rcount }}
                      <ul>  
                          {% for rcode in rcodes %}
                            {% if rcode.rma.rma == pending.rma_id.rma %}
                            
                              <li>{{ rcode.vie_name }}</li>

                            {% endif %}

                          {% endfor %}
                      </ul>
                    </td>
                  </tr>

                  <tr>
                    <td>Bộ phận cần thay thế:</td>
                    <td>{{pending.rma_id.issue_part }}
                      {{ rcount }}
                      <ul>  
                          {% for part in parts %}
                            {% if part.rma == pending.rma_id %}
                            
                              <li>{{ part.vie_name }}</li>

                            {% endif %}

                          {% endfor %}
                      </ul>
                    </td>
                  </tr>
                  
                </tbody><br>
                <thead>
                  <tr>
                    <th scope="col" style="width: 30%;">Tiến độ</th>
                    <th scope="col" ></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Ngày nhận thiết bị:</td>
                    <td>{{ pending.rma_id.receive_date|date:'d/m/Y' }}</td>
                  </tr>
                  <tr>
                    <td>Ngày giám định kỹ thuật:</td>
                    <td>{{ pending.rma_id.inspection_date|date:'d/m/Y' }}</td>
                  </tr>
                  <tr>
                    <td>Ngày gửi báo giá:</td>
                    <td>{{ pending.quotation_date|date:'d/m/Y' }}</td>
                  </tr>
                  <tr>
                    <td>Ngày xác nhận sửa chữa:</td>
                    <td>{{ pending.confirm_date|date:'d/m/Y' }}</td>
                  </tr>
                  <tr>
                    <td>Ngày xuất linh kiện:</td>
                    <td>{{ pending.part_list_date|date:'d/m/Y' }}</td>
                  </tr>
                  <tr>
                    <td>Hoàn tất sửa chữa:</td>
                    <td>{{ pending.p|date:'d/m/Y' }}</td>
                  </tr>
                  
                  
                </tbody>
              </table>
            </p>
              {% if user.is_authenticated %}
                <a href="/#devices" class="btn btn-success">Quay lại</a>
              {% else %}
                <a href="{% url 'home' %}" class="btn btn-success">Quay lại</a>
              {% endif %}
              {% if user.is_staff %}
                <a href="{% url 'update-pending' pending.rma_id %}" class="btn btn-primary">Update</a>
              {% endif %}
            </div>
          </div>

      </div>
      <div id="comments" class="container">
        <br>
        {% if user.is_authenticated %}
        <div class="card">
          <h3>Bình luận</h3>
          <div class="card text-dark bg-light mb-3" >
            
            
            {% for comment in comments %}
              {% if comment.rma_id|upper == rma|upper %}
                <div class="card-body">
                  <h5 class="card-title">{{ comment.username.full_name }} - {{comment.cmt_time }}</h5>
                  <p class="card-text">{{ comment.cmt_text }}</p>
                </div>
              {% endif %}
            {% endfor %}
          <div class="card-body">  
            <a href="{% url 'comments' pending.rma_id %}" class="btn btn-primary">Bình luận</a>
          </div>


          </div>
          <div class="mb-3">
            

          </div>
        </div>
      </div>
      {% else %}
        Vui lòng <a href="{% url 'login-user' %}">Đăng Nhập</a> để bình luận.
      {% endif %}
    </section>

{% endblock %}