{% extends 'home/base.html' %}
{% load static %}

{% block content %}

    <section class="inner-page">
      <div class="container">
        {% if mes_loc %}
          <div class="section-title">
            <h2>Kiểm tra nhanh</h2>
          </div>
          <form  method ="POST" action="">
            {% csrf_token %}
            <div class="mb-3">
              
              <input class="form-control" type="search" placeholder="Số RMA# do Fujifilm Vietnam" aria-label="default input example" name ="rma">
            </div>
            <div class="mb-3">
              <input class="form-control" type="search" placeholder="Số Serial thiết bị" aria-label="default input example" name="sn">
            </div>
            <button type="submit" class="btn btn-success">Kiểm tra</button>
          </form>
        {% else %}
          <div class="card">
            <div class="card-header">
              {% if pending.p_score >= pending.rma_id.e_score %}

                <strong>RMA No#: {{ pending }} - {{ pending.p_status}}</strong>
              {% else %}
                {% if pending.rma_id.e_score == 9 %}
                  <strong>RMA No#: {{ pending }} - {{ pending.p_status}}</strong>
                {% else %}
                  <strong>RMA No#: {{ pending }} - {{ pending.rma_id.repair_status}}</strong>
                {% endif %}
              {% endif %}
            </div>
            <div class="card-body">
              <h3 class="card-title">{{ pending.rma_id.customer.web_name }}</h3>
              <p class="card-text">
                
                <br>
                <center>
                  {% if user.is_staff %}
                    <h6><strong>Thông tin này chỉ hiển thị với admin</strong></h6>
                    <h6>ExFM: {{ pending.rma_id.repair_status}} {{ pending.rma_id.e_score}}</h6>
                    <h6>Pending: {{ pending.p_status}} {{ pending.p_score}}</h6>
                    {% if pending.rma_id.wr_report %}
                      <h6>Warranty Report: {{ pending.rma_id.wr_report}}</h6>
                    {% endif %}
                  {% endif %}

                  {% if pending.p_score >= pending.rma_id.e_score %}
                  
                    {%if pending.p_score == 0 %}<!-- Đã nhận -->
                      <img src = "/static/fujifilm/icon/00.svg" alt="Đã Nhận hàng"/>
                    {% endif %}

                    {%if pending.p_score == 1 %} <!-- Đang kiểm Tra -->
                      <img src = "/static/fujifilm/icon/10.svg" alt="Đang kiểm tra"/>
                    {% endif %}

                    {%if pending.p_score == 2 %} <!-- chuẩn bị báo giá -->
                      <img src = "/static/fujifilm/icon/20.svg" alt="Chuẩn bị báo giá"/>
                    {% endif %}
                    {%if pending.p_score == 2.5 %} <!-- Chờ duyệt bảo hành -->
                      <img src = "/static/fujifilm/icon/25.svg" alt="Chờ duyệt Bảo hành"/>
                    {% endif %}
                    {%if pending.p_score == 3 %} <!-- chờ xác nhận -->
                      <img src = "/static/fujifilm/icon/30.svg" alt="Chờ xác nhận"/>
                    {% endif %}
                    
                    {% if pending.p_score == 4 %} <!-- Linh kiện đầy đủ -->
                    <!--   {% if pending.rma_id.w_score == 0 %} -->
                        <img src = "/static/fujifilm/icon/40.svg" alt="My Happy SVG"/>
                      {% else %}<!-- Linh kiện đầy đủ (BH) -->
                        <img src = "/static/fujifilm/icon/45.svg" alt="My Happy SVG"/>
                      {% endif %}
                    {% endif %}
                    
                    {% if pending.p_score == 5 %} <!-- chuẩn bị sửa chữa -->
                      {% if pending.rma_id.w_score == 0 %}
                        <img src = "/static/fujifilm/icon/50.svg" alt="My Happy SVG"/>
                      {% else %}<!-- Chuẩn bị sửa chữa bảo hành -->
                        <img src = "/static/fujifilm/icon/55.svg" alt="My Happy SVG"/>
                      {% endif %}
                    {% endif %}

                    {% if pending.p_score == 6 %} <!-- đang sửa chữa -->
                      {% if pending.rma_id.w_score == 0 %}
                        <img src = "/static/fujifilm/icon/60.svg" alt="My Happy SVG"/>
                      {% else %}<!-- đang sửa chữa BH -->
                        <img src = "/static/fujifilm/icon/65.svg" alt="My Happy SVG"/>
                      {% endif %}
                    {% endif %}
                    
                    {% if pending.p_score == 7 %} <!-- đang giao hàng -->
                      {% if pending.rma_id.w_score == 0 %}
                        <img src = "/static/fujifilm/icon/70.svg" alt="My Happy SVG"/>
                      {% else %}<!-- đang giao hàng BH -->
                        <img src = "/static/fujifilm/icon/75.svg" alt="My Happy SVG"/>
                      {% endif %}
                    {% endif %}

                    {% if pending.p_score == 9 %} <!-- Chờ xác nhận quá 3 tháng -->
                      
                        
                        {% if pending.rma_id.e_score == 2.5 %} <!-- chờ duyệt bảo hành -->
                          <img src = "/static/fujifilm/icon/25.svg" alt="My Happy SVG"/>
                        {% endif %}
                        {% if pending.rma_id.e_score == 4 %} <!-- Linh kiện đầy đủ -->
                          {% if pending.rma_id.w_score == 0 %}
                            <img src = "/static/fujifilm/icon/40.svg" alt="My Happy SVG"/>
                          {% else %}<!-- Linh kiện đầy đủ (BH) -->
                            <img src = "/static/fujifilm/icon/45.svg" alt="My Happy SVG"/>
                          {% endif %}
                        {% endif %}
                        
                        {% if pending.rma_id.e_score == 5 %} <!-- chuẩn bị sửa chữa -->
                          {% if pending.rma_id.w_score == 0 %}
                            <img src = "/static/fujifilm/icon/50.svg" alt="My Happy SVG"/>
                          {% else %}<!-- Chuẩn bị sửa chữa bảo hành -->
                            <img src = "/static/fujifilm/icon/55.svg" alt="My Happy SVG"/>
                          {% endif %}
                        {% endif %}
                        {% if pending.rma_id.e_score == 6 %} <!-- đang sửa chữa -->
                          {% if pending.rma_id.w_score == 0 %}
                            <img src = "/static/fujifilm/icon/60.svg" alt="My Happy SVG"/>
                          {% else %}<!-- đang sửa chữa BH -->
                            <img src = "/static/fujifilm/icon/65.svg" alt="My Happy SVG"/>
                          {% endif %}
                        {% endif %}  
                    {% endif %}

                  {% else %} <!-- e_score > p_score -->
                  
                    {%if pending.rma_id.e_score == 0 %} <!-- Create -->
                      <img src = "/static/fujifilm/icon/00.svg" alt="My Happy SVG"/>
                    {% endif %}

                    {%if pending.rma_id.e_score == 1 %}   <!-- Receive -->
                      <img src = "/static/fujifilm/icon/10.svg" alt="My Happy SVG"/>
                    {% endif %}

                    {%if pending.rma_id.e_score == 2 %} <!-- chuẩn bị báo giá -->
                      <img src = "/static/fujifilm/icon/20.svg" alt="My Happy SVG"/>
                    {% endif %}
                    {%if pending.rma_id.e_score == 2.5 %} <!-- chờ duyệt bảo hành -->
                      <img src = "/static/fujifilm/icon/25.svg" alt="My Happy SVG"/>
                    {% endif %}

                    {% if pending.rma_id.e_score == 4 %} <!-- Linh kiện đầy đủ -->
                      {% if pending.rma_id.w_score == 0 %}
                        <img src = "/static/fujifilm/icon/40.svg" alt="My Happy SVG"/>
                      {% else %}<!-- Linh kiện đầy đủ (BH) -->
                        <img src = "/static/fujifilm/icon/45.svg" alt="My Happy SVG"/>
                      {% endif %}
                    {% endif %}
                    
                    {% if pending.rma_id.e_score == 5 %} <!-- chuẩn bị sửa chữa -->
                      {% if pending.rma_id.w_score == 0 %}
                        <img src = "/static/fujifilm/icon/50.svg" alt="My Happy SVG"/>
                      {% else %}<!-- Chuẩn bị sửa chữa bảo hành -->
                        <img src = "/static/fujifilm/icon/55.svg" alt="My Happy SVG"/>
                      {% endif %}
                    {% endif %}

                    {% if pending.rma_id.e_score == 6 %} <!-- đang sửa chữa -->
                      {% if pending.rma_id.w_score == 0 %}
                        <img src = "/static/fujifilm/icon/60.svg" alt="My Happy SVG"/>
                      {% else %}<!-- đang sửa chữa BH -->
                        <img src = "/static/fujifilm/icon/65.svg" alt="My Happy SVG"/>
                      {% endif %}
                    {% endif %}
                    
                    {% if pending.rma_id.e_score == 7 %} <!-- đang giao hàng -->
                      {% if pending.rma_id.w_score == 0 %}
                        <img src = "/static/fujifilm/icon/70.svg" alt="My Happy SVG"/>
                      {% else %}<!-- đang giao hàng BH -->
                        <img src = "/static/fujifilm/icon/75.svg" alt="My Happy SVG"/>
                      {% endif %}
                    {% endif %}
                    
                    {% if pending.rma_id.e_score == 8 %} <!-- hoàn tất giao hàng -->
                      {% if pending.rma_id.w_score == 0 %}
                        <img src = "/static/fujifilm/icon/80.svg" alt="My Happy SVG"/>
                      {% else %}<!-- hoàn tất hàng BH -->
                        <img src = "/static/fujifilm/icon/85.svg" alt="My Happy SVG"/>
                      {% endif %}
                    {% endif %}

                    {% if pending.rma_id_.escore == 9 %} <!-- completed table -->


                    {% endif %}
                      {% if pending.rma_id.w_score == 0 %}
                        
                        {% if pending.p_score == 2 %}
                          <img src = "/static/fujifilm/icon/20.svg" alt="My Happy SVG"/>
                        {% endif %}
                        {% if pending.p_score == 4 %}
                          <img src = "/static/fujifilm/icon/40.svg" alt="My Happy SVG"/>
                        {% endif %}
                        {% if pending.p_score == 9 %}
                            <img src = "/static/fujifilm/icon/40.svg" alt="My Happy SVG"/>
                        {% endif %}
                        {% if pending.p_score == 10 %}
                        {% endif %}
                        
                      {% else %}<!-- hoàn tất hàng BH -->
                        <img src = "/static/fujifilm/icon/85.svg" alt="My Happy SVG"/>
                      {% endif %}

                  {% endif %}

                  

                </center>

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" style="width: 30%;">Thông tin thiết bị</th>
                      <th scope="col" ></th>
                      
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Vị trí hiện tại:</td>
                      {% if pending.rma_id.location == 'Hanoi'%}
                      <td>Trung tâm sửa chữa Hà Nội</td>
                      {% else %}
                        <td>Trung tâm sửa chữa TP.HCM</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <td>Model:</td>
                      <td>{{pending.rma_id.model_d }}</td>
                    </tr>
                    <tr>
                      <td>Số máy:</td>
                      <td>{{pending.rma_id.sn }}</td>
                    </tr>
                    <tr>
                      <td>Ngày lắp đặt:</td>
                      <td>{{pending.rma_id.install_date|date:'d/m/Y' }}</td>
                    </tr>
                    <tr>
                      <td>Tình trạng thiết bị:</td>
                      {% if pending.rma_id.repair_size %}
                        <td>Hư hỏng {{pending.rma_id.repair_size }}</td>
                      {% else %}
                        <td>Đang cập nhật</td>
                      {% endif %}
                    </tr>
                    <tr>
                      <td>Bộ phận liên quan <br>và công việc thực hiện:</td>
                      <td>
                        <ul>  
                            {% for rcode in rcodes %}
                              {% if rcode.rma.rma == pending.rma_id.rma %}
                                <li>{{ rcode.vie_name }}</li>
                              {% endif %}
                            {% endfor %}
                        </ul>
                      </td>
                    </tr>

                    <tr>
                      <td>Bộ phận cần thay thế:</td>
                      <td>
                        <ul>  
                            {% for part in parts %}
                              {% if part.rma == pending.rma_id %}
                                <li>{{ part.vie_name }}</li>
                              {% endif %}
                            {% endfor %}
                        </ul>
                      </td>
                    </tr>
                    
                  </tbody><br>
                  <thead>
                    <tr>
                      <th scope="col" style="width: 30%;">Tiến độ</th>
                      <th scope="col" ></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Ngày nhận thiết bị:</td>
                      <td>{{ pending.rma_id.receive_date|date:'d/m/Y' }}</td>
                    </tr>
                    <tr>
                      <td>Ngày giám định kỹ thuật:</td>
                      <td>{{ pending.rma_id.inspection_date|date:'d/m/Y' }}</td>
                    </tr>
                    {% if pending.rma_id.w_score == 0 %}
                      <tr>
                        <td>Ngày gửi báo giá:</td>
                        <td>{{ pending.quotation_date|date:'d/m/Y' }}</td>
                      </tr>
                      <tr>
                        <td>Ngày xác nhận sửa chữa:</td>
                        <td>{{ pending.confirm_date|date:'d/m/Y' }}</td>
                      </tr>
                    {% else %}
                      <tr>
                        <td><strong>Trường hợp được duyệt Bảo Hành</strong></td>
                        <td></td> <!-- tạo cell trống -->
                      </tr>
                      
                    {% endif %}

                    <tr>
                      <td>Ngày xuất linh kiện:</td>
                      {% if pending.part_list_date %}
                        <td>{{ pending.part_list_date|date:'d/m/Y' }}</td>
                      {% else %}
                        <td>{{ pending.rma_id.start_time|date:'d/m/Y' }}</td> 
                      {% endif %}
                    </tr>
                    <tr>
                      <td>Hoàn tất sửa chữa:</td>
                      <td>{{ pending.rma_id.end_time|date:'d/m/Y' }}</td>
                    </tr>
                    
                    
                  </tbody>
                </table>
              </p>
                {% if user.is_authenticated %}
                  <a href="/#devices" class="btn btn-success">Quay lại</a>
                {% else %}
                  <a href="{% url 'home' %}" class="btn btn-success">Quay lại</a>
                {% endif %}
                {% if user.is_staff %}
                  <a href="{% url 'update-pending' pending.rma_id %}" class="btn btn-primary">Update</a>
                {% endif %}
                {% if user.is_ffvn %}
                  <a href="{% url 'parts-order' pending.rma_id.sn %}" class="btn btn-info">Parts Order</a>
                {% endif %}
              </div>
            </div>
          

      </div>
      
      <div id="comments" class="container">
        <br>
        {% if user.is_authenticated %}
        <div class="card">
          <h3>Phản hồi của Khách hàng</h3>
          <div class="card text-dark bg-light mb-3" >
            
            
            {% for comment in comments %}
              {% if comment.rma_id|upper == rma|upper %}
                {% if comment.username.username|upper == user_login|upper or user_login.is_ffvn %}

                  <div class="card-body">
                      
                      <h5 class="card-title">{{ comment.username.full_name }} - {{comment.cmt_time|date:'d/m/Y H:i' }}</h5>
                      <p class="card-text">{{ comment.cmt_text }}</p>
                      
                      {% if comment.is_verified %}
                        <p><small><em>Đã xác nhận phản hồi vào lúc {{ comment.verify_time|date:'H:i d/m/Y' }}</em></small></p>
                      {% else %}
                        <p><small><em>Chúng tôi sẽ phản hồi thông tin đến bạn trong thời gian sớm nhất.</em></small></p>

                      {% endif %}
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          <div class="card-body">  
            <a href="{% url 'comments' pending.rma_id %}" class="btn btn-primary">Phản hồi</a>
          </div>


          </div>
          <div class="mb-3">
            

          </div>
        </div>
      </div>
      {% else %}
        Vui lòng <a href="{% url 'login-user' %}">Đăng Nhập</a> để phản hồi thông tin.
      {% endif %}

      {% endif %}
    </section>

{% endblock %}