{% extends 'home/base.html'%}

{% block content %}
	<section class="inner-page">
		<div class="container">
			{% if user.is_ffvn %}
			<br>
			<a href="{% url 'add-event' %}" class="btn btn-success">+ Tạo mới</a>
			<br><br>
				<h3>Lịch bảo trì sắp tới</h3>
				<table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Sự kiện</th>
              <th scope="col">Thời gian</th>
              <th scope="col">Địa điểm</th>
              <th scope="col">KS thực hiện</th>
              <th scope="col">Nội dung</th>
              <th scope="col">Tình trạng</th>
            </tr>
          </thead>
          {% for event in pm_soon %}
      		<tbody>
            <tr>
              <td>{{ event.name }}</td>
              <td>{{ event.event_date|date:'d/m/Y' }}</td>
              {% if event.venue.web_name %}
              	<td>{{event.venue.web_name}}</a></td>
              {% else %}
              	<td>{{event.venue}}</a></td>
              {% endif %}
              <td>{{ event.manager.full_name }}</td>
              <td>{{ event.description }}</td>
              <td><a href="{% url 'update-event' event.id %}" class="btn btn-primary">Chỉnh sửa</a>
              	<a href="" class="btn btn-danger">Xóa</a>
              </td>
            </tr>
          </tbody>
          {% endfor %}
			  </table>

				<h3>Sự kiện sắp diễn ra</h3>
				<table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Sự kiện</th>
              <th scope="col">Thời gian</th>
              <th scope="col">Địa điểm</th>
              <th scope="col">KS thực hiện</th>
              <th scope="col">Nội dung</th>
              <th scope="col">Tình trạng</th>
            </tr>
          </thead>
          {% for event in training_soon %}
      		<tbody>
            <tr>
              <td>{{ event.name }}</td>
              <td>{{ event.event_date|date:'d/m/Y' }}</td>
              {% if event.venue.web_name %}
              	<td>{{event.venue.web_name}}</a></td>
              {% else %}
              	<td>{{event.venue}}</a></td>
              {% endif %}
              <td>{{ event.manager.full_name }}</td>
              <td>{{ event.description }}</td>
              <td><a href="{% url 'update-event' event.id %}" class="btn btn-primary">Chỉnh sửa</a>
              	<a href="" class="btn btn-danger">Xóa</a>
              </td>
            </tr>
          </tbody>
          {% endfor %}
			  </table>

			  <h3>Đã diễn ra</h3>
				<table class="table table-striped table-hover table-bordered">
          <thead>
            <tr>
              <th scope="col">Sự kiện</th>
              <th scope="col">Thời gian</th>
              <th scope="col">Địa điểm</th>
              <th scope="col">KS thực hiện</th>
              <th scope="col">Nội dung</th>
              <th scope="col">Tình trạng</th>
            </tr>
          </thead>
          {% for event in event_pass %}
      		<tbody>
            <tr>
              <td>{{ event.name }}</td>
              <td>{{ event.event_date|date:'d/m/Y' }}</td>
              {% if event.venue.web_name %}
              	<td>{{event.venue.web_name}}</a></td>
              {% else %}
              	<td>{{event.venue}}</a></td>
              {% endif %}
              <td>{{ event.manager.full_name }}</td>
              <td>{{ event.description }}</td>
              <td><a href="{% url 'update-event' event.id %}" class="btn btn-primary">Chỉnh sửa</a>
              	<a href="" class="btn btn-danger">Xóa</a>
              </td>
            </tr>
          </tbody>
          {% endfor %}
			  </table>
				
										

						
				

				
					
	  	{% else %}
			  <br>
			  <h3>Lỗi 333: Không tìm thấy trang này.</h3>
			{% endif %}

		</div>
	</section>
{% endblock %}
