{% extends 'home/base.html' %}

{% block content %}
<section class="inner-page">
<div class="container">
	<div class="shadow p-3 mb-2 bg-light text-dark rounded">
		{% if user.is_staff %}
			<h1>{{ title }},{{ v_check }}</h1>
			<br>
			<form action ="" method=POST>
				{% csrf_token %}
				{{ form.as_p }}
				<br>
				<input type="submit" value ="Update"
				class = "btn btn-success"> 
				
			</form>
		{% else %}
			<h1>Sorry you Can not View this Page... </h1>
			
		{% endif %}
	</div>
</div>
</section>
{% endblock %}