{% extends 'home/base.html' %}


{% block content %}

	     

	<!--Reset Password-->
	<div class="container p-5">
		<br><br><br>
  	 	<h2 class="font-weight-bold mt-3">Khôi Phục Mật Khẩu</h2>
  	 	
		<hr>
		<p>Bạn quên mật khẩu? Nhập email đã đăng ký với chúng tôi vào ô bên dưới để nhận hướng dẫn khôi phục mật khẩu.</p>
        <form method="POST" >
            {% csrf_token %}
            {{ form.as_p}}
            <br>                
            <button class="btn btn-success" type="submit" name="Send email">Khôi phục</button>
        </form>
  	</div> 

{% endblock %}